@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Crete+Round');
@import url('https://fonts.googleapis.com/css?family=Istok+Web');



body,p{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

body{
    background:url('https://visme.co/blog/wp-content/uploads/2017/07/50-Beautiful-and-Minimalist-Presentation-Backgrounds-040.jpg');
    padding: 20px;
    margin: 0;
    height: 100%;
}

h1,h2{
    font-family: 'Roboto', sans-serif;
}


ul.header li{
    display: inline;
    list-style-type: none;
    margin: 0;
}

ul.header{
    background-color: #111;
    margin-bottom: 0;
}

ul.header li a{
    color:#fff;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

.content{
    background:linear-gradient(to bottom, #f7f7f7, #dfdcdc);
    padding: 20px;
}

.content li {
    margin-bottom: 10px;
}

.img{
    display: flex;
    justify-content: center;
    height: 550px;
}

.bgimg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
}

.main-title{
    text-align: left;
    font-family: 'Istok Web', sans-serif;
}

.list{
    list-style-type: none;
}

.footer{
    background-color: #d8d7d7da;
}